@tailwind base;
@tailwind components;

@tailwind utilities;


@font-face {
  font-family: 'PathwayExtreme';
  src: url('./assets/font/PathwayExtreme-VariableFont_opsz\,wdth\,wght.ttf') format('truetype');
 
}

body {
  font-family: "PathwayExtreme";
  font-size: 14px;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
 
}
